/* BODY */
body {
    /* display: flex;
    flex-direction: column; */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    /* flex-grow: 1; */
    min-height: calc(100vh - 196.54px);
    margin-left: 0;
    margin-right: 0;
}

.table-list {


}

/* -------------------------------------------------------------------------------------------------------------- */

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #75CE9F;

}

.side-navigation {
    position: absolute;

    /* display: flex; */
    /* display: hidden; */
    flex-direction: column;
    z-index: 1000;
    top: 5rem;
    gap: 0.1rem;
}

.profile-navigation {
    position: absolute;
    top: 5rem; /* Adjust this value as needed to position below the header */
    right: 0rem; /* Align with the right side of the header */
    z-index: 1000;
    display: none; /* Start with the menu hidden */
    flex-direction: column;
    gap: 0.1rem;
    background-color: #EFEFEF; /* Match the background color of the side-navigation */
}

.side-navigation > div, .profile-navigation > div {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EFEFEF;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 15px;
    width: 10rem;
 

    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    
}

.side-navigation > div > i {
    color: #7D7D7D;
    padding-top: 0.5rem;
}

.flex-side-navigation {
    display: flex;
}

.flex-profile-navigation {
    display: flex;
    justify-content: flex-end;
}


/* Text part */

.system-name {
    color: white;
    font-family: 'Atma';
    font-size: 40px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 20px;
}

.sidebar, .profile-icon {
    cursor: pointer;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    font-size: 45px;
    color:white

}


/* -------------------------------------------------------------------------------------------------------------- */


/* FOOTER */
footer {
    background-color: #CCCCCC;
    z-index: -1;
    font-family: Arial, Helvetica, sans-serif;
}

footer > div {
    display: flex;
    padding-bottom: 0;
    gap: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.footer-signature {
    width: 45%;
}   



/* The link part */

.support-company {
    padding-right: 1rem;
}

.support-company td{
    text-align: center;
}

.support-company td > a:link{
    color: black;
    background-color: transparent;
}

.support-company td > a:visited{
    color: black;
    background-color: transparent;
}

.support-company td > a:hover{
    color: gray;
    background-color: transparent;
    cursor: pointer;
}

.support-company tr{
    height: 33px;
}




/* The logo and by part */

.logo-image-div {
    grid-area: logo;
}

.logo-image-div > #logo-image {
    width: 60px; 
    padding-left: 20px; 
}

.by-company-text {
    grid-area: byText; 
    color: black; 
}

.signature {
    display: grid;
    grid-template-areas: 'logo byText';
    grid-template-columns: 70px 260px;
    place-items: center;
    padding-top: 0;
    margin-top: 0;
    gap: 0;
    position: relative;
    top: -0.2rem;
}

/* -------------------------------------------------------------------------------------------------------------- */